body {
    background: radial-gradient(cyan, palegoldenrod)
}

.step {
width: 900px;
padding:40px;

font-style: 40px;
line-height: 1.5;

color: black;

opacity: 0.1;
transition: opacity 1s;
}

.step.active {
    opacity: 1.0;
}